.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100%;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line.left, .line.right {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line.left::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 15vw;
  top: 0;
  left: -50%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: h-drop-l 7s 0s infinite;
          animation: h-drop-l 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line.right::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 15vw;
  top: 0;
  left: 150%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: h-drop-r 7s 0s infinite;
          animation: h-drop-r 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -30%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(2) {
  margin-left: -15%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.line:nth-child(4) {
  margin-left: 15%;
}
.line:nth-child(4)::after {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.line:nth-child(5) {
  margin-left: 30%;
}
.line:nth-child(5)::after {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.line:nth-child(6) {
  margin-top: -20%;
}
.line:nth-child(6)::after {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.line:nth-child(7) {
  margin-top: -10%;
}
.line:nth-child(7)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.line:nth-child(9) {
  margin-top: 10%;
}
.line:nth-child(9)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.line:nth-child(10) {
  margin-top: 20%;
}
.line:nth-child(10)::after {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}
@-webkit-keyframes h-drop-l {
  0% {
    left: -50%;
  }
  100% {
    left: 110%;
  }
}
@keyframes h-drop-l {
  0% {
    left: -50%;
  }
  100% {
    left: 110%;
  }
}
@-webkit-keyframes h-drop-r {
  0% {
    left: 150%;
  }
  100% {
    left: -50%;
  }
}
@keyframes h-drop-r {
  0% {
    left: 150%;
  }
  100% {
    left: -50%;
  }
}
@font-face {
  font-family: Hoves;
  src: url(fonts/TT\ Hoves\ Pro\ Trial\ Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Hoves;
  src: url(fonts/TT\ Hoves\ Pro\ Trial\ Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Hoves;
  src: url(fonts/TT\ Hoves\ Pro\ Trial\ DemiBold.ttf);
  font-weight: 600;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Hoves", sans-serif;
  font-weight: 500;
}
*::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Hoves", sans-serif;
  font-weight: 500;
}

html {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  scroll-behavior: smooth;
  font-family: "Hoves", sans-serif;
  font-weight: 500;
}

li {
  cursor: pointer;
}

header a,
header button {
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  max-width: 1680px;
  height: auto;
  margin: 0 auto;
}

.brand {
  font-family: inherit;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #3698af;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  text-transform: unset;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  margin: 0 auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header.active {
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: #fff;
}
.header.active .menu-link {
  color: #121315;
}
.header.active svg path {
  fill: #121315;
}
.header.active .login__button {
  background-color: #121315;
}
.header.active .login__button button {
  color: #fff;
}
.header.active .burger-line {
  background: #121315;
}

.wrapper,
.wrapper-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  row-gap: 2rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    overflow-y: auto;
    visibility: hidden;
    -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: #121315;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar.active {
    left: 0rem;
    opacity: 1;
    visibility: visible;
  }
  .login {
    display: none;
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  gap: 1rem;
}

.header svg path {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-item {
  position: relative;
  display: inline-block;
  margin-left: 2rem;
  font-weight: 700;
  font-size: 18px;
}

.menu-item-first {
  position: relative;
  display: inline-block;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-link.active {
  color: var(--color-black-500);
}
.menu-link > i.bx {
  font-size: 1.35rem;
  line-height: 1.5;
  color: inherit;
}
.menu-link:hover {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .menu {
    width: 100%;
    height: auto;
    padding: 1rem 0;
  }
  .menu-item {
    display: block;
    margin: 0 auto;
  }
  .menu-link {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1.25rem;
    color: #fff !important;
  }
  .wrapper {
    padding: 2rem 2rem;
  }
  .logo {
    font-size: 18px;
  }
}
@media only screen and (min-width: 993px) {
  .navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .logo {
    font-size: 25px;
  }
  .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .login__button {
    border-radius: 16px;
    background-color: #fff;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .login__button button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    gap: 0.5rem;
    padding: 0.7rem 1.7rem;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .login-menu {
    display: none;
  }
  .wrapper {
    position: relative;
    padding: 1rem 5rem;
  }
}
.burger {
  position: relative;
  display: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1.75rem;
  height: 1rem;
  opacity: 0;
  visibility: hidden;
  background: transparent;
}

.burger-line {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 1;
  border: none;
  outline: none;
  background: #f3f6f9;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.burger-line.active {
  background: var(--color-black-500);
}
.burger-line:nth-child(1) {
  top: 0px;
}
.burger-line:nth-child(2) {
  top: 0.5rem;
}
.burger-line:nth-child(3) {
  top: 1rem;
}

@media only screen and (max-width: 992px) {
  .burger {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}

@media only screen and (max-width: 992px) {
  .overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
h1 {
  color: #fff;
}

h2 {
  color: #000;
}

h3 {
  color: #fff;
}

h4 {
  color: #000;
}

body {
  margin: 0;
}

.hero.background {
  width: 100%;
  max-height: 1080px;
  background-color: #121315;
  position: relative;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-content h3 {
  margin-top: 1rem;
  color: rgb(170, 168, 168);
}
.hero-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  z-index: 1;
}
.hero-content button {
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  border: none;
}

.about-wrapper {
  max-width: 1680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.about {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about-card > img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.about-card > span:first-of-type {
  margin-top: 1rem;
}
.about-card > span:last-of-type {
  color: gray;
}

.services-wrapper {
  max-width: 1680px;
  margin: auto;
  text-align: center;
}
.services-wrapper > h2 {
  margin-bottom: 1rem;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  gap: 1rem;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.service > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  background-color: #f7f8f9;
  padding: 2rem;
  border-radius: 12px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.service > div:nth-child(1) {
  border: solid 1px red;
}
.service > div:nth-child(2) {
  border: solid 1px blue;
}
.service > div:nth-child(3) {
  border: solid 1px green;
}
.service > div:nth-child(4) {
  border: solid 1px purple;
}
.service > div:nth-child(5) {
  border: solid 1px peru;
}
.service > div:nth-child(6) {
  border: solid 1px khaki;
}
.service > div:nth-child(7) {
  border: solid 1px orchid;
}
.service > div:nth-child(8) {
  border: solid 1px orange;
}
.service > div:nth-child(9) {
  border: solid 1px yellow;
}

.approach-background {
  background-color: #121315;
}

.approach-wrapper {
  max-width: 1680px;
  margin: auto;
  text-align: center;
}
.approach-wrapper > h3 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.approach {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  color: #fff;
  margin-bottom: 4rem;
}
.approach div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  border-radius: 12px;
  background-color: #1d2023;
}

.studies-wrapper {
  max-width: 1680px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
}
.studies-wrapper .studies-line {
  position: relative;
  padding-left: 3rem;
}

.studies-line hr {
  margin: 1rem 0;
  background-color: #121315;
  border: 0;
  height: 1px;
  width: 100%;
}

.line-block {
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.line-block.active {
  margin-bottom: 1rem;
}
.line-block::before {
  position: absolute;
  top: 13px;
  left: -62px;
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #121315;
  border-radius: 50%;
  z-index: 1;
}

.line-disc {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.studies-line::before {
  content: "";
  display: block;
  width: 0;
  height: 94%;
  border: 2px solid #121315;
  position: absolute;
  top: 20px;
  left: -3.7px;
}

.contact-wrapper {
  max-width: 1680px;
  margin: auto;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  border: solid 1px #000;
}
.contact > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact > div:last-of-type {
  width: 100%;
}
.contact form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contact-input {
  position: relative;
  width: 100%;
  margin-right: 2rem;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.contact-input.thank {
  opacity: 0;
  visibility: hidden;
  width: unset;
}

#error {
  color: red;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  opacity: 0;
  position: absolute;
}

.contact-thank {
  visibility: hidden;
  opacity: 0;
  font-size: 2rem;
  position: absolute;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.contact-thank.thank {
  visibility: visible;
  opacity: 1;
}

.contact > div:last-of-type input {
  width: 100%;
  font-size: 1.2rem;
  border: solid 1px black;
  border-radius: 12px;
  padding: 1rem;
}
.contact > div:last-of-type button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0.8rem;
  border: solid 1px black;
  border-radius: 2.75rem;
  background-color: transparent;
  cursor: pointer !important;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.contact > div:last-of-type button.thank {
  opacity: 0;
  visibility: hidden;
}
.contact > div:last-of-type button:hover {
  background-color: #000;
  color: #fff;
}
.contact > div:last-of-type button > div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.contact > div:last-of-type button > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: hidden;
  width: 0;
  font-size: 1.2rem;
  -webkit-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}

footer {
  background-color: #121315;
}

.footer {
  max-width: 1680px;
  margin: auto;
}
.footer hr {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  height: 1px;
  width: 100%;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-logo > span {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: grey;
}

.footer > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

footer .linkedin svg {
  overflow: visible;
  padding: 0.3rem;
  border-radius: 50%;
  border: solid 1px white;
}

@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .hero.background {
    height: 100vh;
  }
  .hero-content {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .hero-content a {
    display: none;
  }
  .about-wrapper,
  .services-wrapper,
  .approach-wrapper {
    padding: 3rem 7rem;
  }
  .approach div {
    padding: 3rem 1rem;
  }
  .studies-wrapper {
    padding: 7rem;
  }
  .studies-wrapper p {
    font-size: 1.2rem;
  }
  .studies-wrapper > div:first-of-type,
  .studies-wrapper .studies-line {
    width: 45%;
  }
  .line-block.lt::before {
    -webkit-box-shadow: -30px 77px 0 65px #fff;
            box-shadow: -30px 77px 0 65px #fff;
  }
  .contact-wrapper {
    padding: 3rem 7rem;
  }
  .contact {
    padding: 3rem;
    gap: 5rem;
  }
  .contact > div:last-of-type {
    max-width: 500px;
  }
  .contact > div:last-of-type input {
    margin-right: 2rem;
  }
  .contact span {
    font-size: 1.2rem;
  }
  .contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer {
    padding: 3rem 7rem;
  }
  .footer hr {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .hero.background {
    height: 100vh;
  }
  .hero-content {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .about-wrapper,
  .services-wrapper,
  .approach-wrapper {
    padding: 3rem 5rem;
  }
  .approach div {
    padding: 2rem 1rem;
  }
  .studies-wrapper {
    padding: 3rem 5rem;
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .line-block.lt::before {
    -webkit-box-shadow: -54px 83px 0 78px #fff;
            box-shadow: -54px 83px 0 78px #fff;
  }
  .contact-wrapper {
    padding: 3rem 5rem;
  }
  .contact {
    padding: 2rem;
    gap: 3rem;
  }
  .contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact > div:last-of-type input {
    margin-right: 2rem;
  }
  .footer {
    padding: 3rem 5rem;
  }
  .footer hr {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .hero-content {
    padding: 7rem 2rem;
  }
  .about-wrapper,
  .services-wrapper {
    padding: 2rem 1.5rem 1.5rem;
  }
  .approach-wrapper {
    padding: 2rem 1.5rem 1rem;
  }
  .approach div {
    padding: 2rem 1rem;
  }
  .studies-wrapper {
    padding: 3rem 3rem;
    gap: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .line-block.lt::before {
    -webkit-box-shadow: -107px 151px 0 132px #fff;
            box-shadow: -107px 151px 0 132px #fff;
  }
  .contact-wrapper {
    padding: 3rem 1.5rem;
  }
  .contact-input {
    display: contents;
  }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
    gap: 2rem;
  }
  .contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }
  .footer {
    padding: 1.5rem;
  }
  .footer hr {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=main.css.map */